---
import Form from '../../components/Form';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Safepup</title>
  </head>
  <body>
    <Form client:load/>
  </body>
</html>
